#root {
  height: 100%;
}
div {
  height: 100%;
}
.login-grid {
  height: 100%;
}
.login-row {
  height: 33%;
}
.login-row * {
  margin: 15px 0;
}
.login-row ion-col {
  margin: 0;
}
.login-row ion-input, input{
  font-size: 1.2rem !important;
  margin:3px 5px !important;
}
.login-row ion-card {
  margin: 16px 0;
}
.login-row ion-button{
  border-radius: .15rem;
  --background: #FFA597 !important;
}

.hr {
  display: block;
  height: 1px;
  background: lightgray;
  width: 100%;
}