#root {
  height: 100%;
}
div {
  height: 100%;
}
.img-col {
  display: flex;
  justify-content: center;
}
ion-img {
  height: 120px;
  width: 120px;
}
.login-grid {
  height: 100%;
  overflow: scroll;
  background: rgb(255,165,151);
  background: linear-gradient(0deg, rgba(255,165,151,0.3) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,165,151,0.3) 100%);
}
.login-row {
  height: 25%;
  min-height: 100px;
}
#login-form-row {
  height: 50%;
  min-height: 300px;
}
#login-bottom-row {
  height: 100px;
}
.login-row h1 {
  color: #FFA597;
}
.login-row * {
  margin: 15px 0;
}
.login-row ion-col {
  margin: 0;
}
.login-row ion-input, input{
  font-size: 1.2rem !important;
  margin:3px 5px !important;
}
.login-row ion-card {
  margin: 16px 0;
}
.login-row ion-button{
  border-radius: .15rem;
  font-size: 1.2rem !important;
  --background: #FFA597 !important;
}
.login-row .button-reverse {
  --background: none !important;
  --color: #FFA597;
}
.login-row .login-form-error {
  color: #F56565;
  font-size: 1rem;
}


.hr {
  display: block;
  height: 1px;
  background: lightgray;
  width: 100%;
}

.hidden-step {
  display: none;
  visibility: hidden;
}